<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>ボウリングスコア</title>
</head>
<body>
<h1>新しいゲームの開始</h1>
<h2>プレーヤーの登録</h2>
<p id="links"><a href="list.erb">履歴一覧の表示</a>｜
<a href="index.html">メニュー画面に戻る</a></p> 
<p id="msg">プレーヤー名を入力して、「ゲームを開始する」を押してください</p>
<hr>

<form method="post" action="start_game" name="new_game_form">
<table>
  <tr>
    <th>プレーヤー名</th>
    <td><input type="text" name="name" value="なまえ" />
  </td>
</table>
<button class="exec_btn" type="submit">ゲームを開始する</button>
</form>
<hr>
</body>
</html>
