<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>ボウリングスコア</title>
</head>
<body>
  <h1>
    <img src="bowling_ball.png" alt="ボール" title="ボール" width="48" style="vertical-align:middle;">
    プレーヤーの登録
  </h1>
  <p id="links"><a href="player_list.erb">登録済みプレーヤーの一覧</a>｜
    <a href="index.html">メニュー画面に戻る</a></p> 
  <p id="msg">ユーザー名、プレーヤー名、パスワードを入力して「プレーヤーを登録する」を押してください。<br />
    管理者権限を付与するときは「管理者」をチェックしてください。</p>
  <hr>
  <form method="post" action="register_player" name="register_player_form">
    <table>
      <tr>
        <th>ユーザー名</th>
        <td><input type="text" name="username" value="ユーザー名" /></td>
        <td>登録用アカウント名（半角英小文字数字16文字まで）</td>
      </tr>
      <tr>
        <th>プレーヤー名</th>
        <td><input type="text" name="player_name" value="プレーヤー名" /></td>
        <td>スコアシートの表示名として使います</td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><input type="password" name="password" maxlength="16" value="" /></td>
        <td>半角で6文字以上16文字まで入力できます</td>
      </tr>
      <tr>
        <th>管理者権限</th>
        <td>
          <label><input type="radio" name="admin" value="1" />管理者</label>
          <label><input type="radio" name="admin" value="0" checked />一般</label>
        </td>
        <td>管理者権限を設定します</td>
      </tr>
    </table>
    <button class="exec_btn" type="submit">プレーヤーを登録する</button>
  </form>
  <hr>
</body>
</html>
